.footer{
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 100%;
    clear: both;
    bottom: 0px;
    border-color: #304562;
    border-width: 0.5px;
    border-radius: 2px;
    border-style: solid;
    background-image: url('../assets/navBack.png');
    background-size: 2000px  400px;
}
.kmaleon{
    margin-bottom: 50px;
    overflow: hidden;
}
.wrap{
    min-height: 100%;
}
.nav-bar{
    color: black;
    background-image: url('../assets/navBack.png');
    background-size: 2000px 400px;
    font-size: 20px;
}
.goBack{
    position: absolute;
    color: #ffffff;
}

@media only screen and (max-width: 600px) {
    .footer{
        font-size: 10px;
    }
}
