.footer{
    color: #A5ABB3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31,45,64);
    position: fixed;
    bottom: 0px;
    border-color: #304562;
    border-width: 0.5px;
    border-radius: 2px;
    border-style: solid;
    width: 100%;
    height: 40px;
}